/*
* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
*/
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

:root {
  --el-color-primary: var(--vp-c-brand-1);
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: #42b883;
  --vp-c-brand-2: #4fb98a;
  --vp-c-brand-3: #60bd93;
  --vp-c-brand-4: #6ebd99;
  --vp-c-brand-5: #7dbea1;
  --vp-c-brand-6: #8bbea7;
  --vp-c-brand-7: #9dc0b0;
  --vp-c-brand-8: #aec2b9;
  --vp-c-brand-9: #c0c5c3;
  --vp-c-brand-soft: rgba(66, 184, 131, 0.16);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --aside-width: 260px;
  --card-bg: #fff;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &.dark {
    --el-text-color-primary: #fff;
    --prism-scheme: dark;
    --card-bg: #202127;
  }

  img[alt="cover"] {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}

html {
  scroll-behavior: smooth;
}


/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
  --vp-code-bg: rgba(27, 31, 35, .05);
  //--vp-code-color: #ff502c;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #bd34fe 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 992px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 992px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPNav {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  /*background-image: radial-gradient(transparent 1px, #fff 1px);*/
  /*background-size: 4px 4px;*/
  backdrop-filter: saturate(50%) blur(10px);
  -webkit-backdrop-filter: saturate(50%) blur(104px);
  background: rgba(255, 255, 255, 0.7);
}

.dark .VPNav {
  background: rgba(0, 0, 0, 0.4);
}

.is-home .VPContent {
  padding-top: 0;
}

@media screen and (max-width: 992px) {
  .VPNav {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  /*手机端首页导航栏position设置为fixed*/
  .is-home .VPNav {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
  }
  .dark .is-home .VPNav {
    background: rgba(0, 0, 0, 0.8);
  }
}

.VPNavBar {
  background: transparent !important;
  border-bottom: none;

  .content-body {
    background: transparent !important;
  }

  &.has-sidebar {
    .curtain {
      display: none;
    }

    .title {
      border-bottom: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .VPSidebar {
    background: transparent !important;
  }
}

// 有侧边栏不显示footer的bug
.VPFooter.has-sidebar {
  display: block !important;
}

.VPFooter {
  a {
    color: #0295ff !important;
  }
}

.VPHome {
  padding-bottom: 0 !important;
}

.card {
  position: relative;
  padding: 15px;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px 1px;
  box-sizing: border-box;
  transition: all .3s;
  background-color: #fff;

  &:hover {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, .15);;
  }
}

.VPDoc {
  .card {
    width: fit-content;

    .el-card__body {
      padding: 0;
    }
  }
}

.custom-block.tip a, .custom-block.tip code {
  color: var(--vp-code-color);
  background-color: var(--vp-code-bg);
}

.VPDocAside .content{
  padding-bottom: 100px;
}
